*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-color: aliceblue;
    --card-color: #010c24;
    --bg-color: #e5f4ff;
}

#container{
    height: 100vh;
    width: 100%;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#screen{
    width: 300px;
    height: 300px;
    background: var(--card-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: var(--font-color);
}

button{
    width: 80px;
    height: 80px;
    background: var(--card-color);
    border: none;
    border-radius: 50%;
    color: var(--font-color);
    font-size: 25px;
    cursor: pointer;
    margin-inline: 10px;
}   